@using ASP.Exo.HelpersData.Infrastructs;
<div>
    @if (Utils.SessionUser.BirthDate.Month == DateTime.Now.Month && Utils.SessionUser.BirthDate.Day == DateTime.Now.Day)
    {
    <h6>
        Joyeux anniversaire @Utils.SessionUser.FirstName!<br />
        @for (int i = 0; i < (DateTime.Now.Year - Utils.SessionUser.BirthDate.Year); i++)
        {
            <span>🕯</span>
        }
    </h6>
    }
    else
    {
        <h6>Bonjour @Utils.SessionUser.FirstName @Utils.SessionUser.LastName, nous sommes le @DateTime.Now.</h6>
    }

</div>